<p id="notice"><%= notice %></p>

<h1>Comments:</h1>
<br>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <h2><%=@first_comment.comment_text%></h2>
    <tr>
      <td>Driver: <%=@first_comment.driver.name%></td>
      <td>Company: <%=@first_comment.team.company.name%></td>
    </tr>


    <%= form_tag('comment_sub_joins', method: "post") do %>
      <%@related_subs.each do |sub|%>
        <%= check_box_tag(:sub_driver) %>
        <%=label_tag(:sub, sub.name)%>
      <%end%>
        <%= check_box_tag(:sub_driver) %>
        <%=label_tag(:sub, 'Other')%>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Tag Sub Drivers") %>
    <% end %>

</table>
<h1>Top Comment Driver <%=@first_comment_driver_name%></h1>
<h1>Sub-Drivers </h1>
  <%=@subs_by_driver.each do |sub|%>
    <tr>
      <td><%=sub.name%></td>
    </tr>
  <% end %>

<br>
<%= link_to 'Home', '/' %>
<%= link_to 'New Comment', new_comment_path %>
