<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%=comment.comment_text%></td>
        <td><%=comment.driver.name%></td>
        <td><%=comment.team.company.name%></td>


        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>Top Comment Driver <%=@first_comment_driver_name%></h1>
<h1>Sub-Drivers </h1>
  <%=@subs_by_driver.each do |sub|%>
    <tr>
      <td><%=sub.name%></td>
    </tr>
  <% end %>

<br>
<%= link_to 'Home', '/' %>
<%= link_to 'New Comment', new_comment_path %>
