<h1>Input New Comment</h1>


<%= form_tag("/inputs/results", method: "get") do %>
  <%= label_tag(:q, "Input Comment:") %>
  <%= text_field_tag(:comment) %>
  <br>
  <%@drivers.each do |driver|%>
      <%= radio_button_tag(:driver, driver.name) %>
      <%=label_tag(:driver, driver.name)%>
  <%end%>
  <%= submit_tag("Predict") %>
<% end %>

<%= link_to 'Home', '/' %>