<h2><%=@comment.comment_text%></h2>
  <h2>Predictions</h2>
  <%if @comment.driver == @general%>
    <%=@comment.predict_driver_when_general%>
  <%else%>
    <%=@comment.predict_new(@driver)%>
  <%end%>

<br>
<%= link_to 'Home', '/' %>
 <%= link_to "Try Out New Comment", '/inputs/index'%>