
<p>
 <%= link_to "Companies", 'companies'%>
 <%= link_to "Comments", 'comments'%>
 <%= link_to "Teams", 'teams'%>
 <%= link_to "Words", 'words'%>
 <%= link_to "Dashboard", 'dashboard'%>
 <%= link_to "Sub Drivers", 'sub_drivers'%>
</p>