<p id="notice"><%= notice %></p>

<h1><%=@word.name%></h1>
<%@subs_list = @word.subs_as_objects%>
<%@drivers = Driver.all%>

<%@subs = @word.percentage_each_sub%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subs.first(10).each do |sub| %>
      <tr>
        <td><%=sub[0]%></td>
        <td><%=sub[1].round(2)%> % </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%@drivers.each do |driver|%>
  <%sub_hash = @word.word_by_driver_and_sub(driver)[0]%>
  <h1><%=driver.name%> : <%=driver.percent_of_word(@word)%>%</h1>
  <%sub_hash.each do |sub|%>
    <%=sub[0]%> : <%=((sub[1]/@word.word_by_driver_and_sub(driver)[1])*100).round(2)%> % ||
  <%end%>
<%end%>

<br>



<%= link_to 'Home', '/' %>
<%= link_to 'Back', words_path %>
